.form {
  display: flex;
  flex-direction: column;
  
}

input {
  margin-left: 15px;
  margin-bottom: 15px;
  outline: 0;
  background: #f2f2f2;
  width: 200px;
  border: 0;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}

.buttonAdd {
  width: 150px;
  text-transform: capitalize;
  padding: 5px;
  background-color: #b0d157;
  border-radius: 5px;

  height: 43px;
  color: rgb(32, 32, 32);
 font-weight: 600;
  border-color: #212425;
  border-width: 1px 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), inset 0 -1px 1px rgba(0, 0, 0, 0.15), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), inset 0 -1px 1px rgba(0, 0, 0, 0.15), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.05);
}

.buttonAdd:hover {
  background-color: rgb(75, 131, 90);
}

label {
  color:#ccc;
font-size: 14px;
font-weight: 500;
}
