.buttonDel {
  padding: 5px;
  border-radius: 5px;
  width: 70px;
  height: 33px;
  color: rgb(32, 32, 32);
  font-weight: 600;
  border-color: #212425;
  border-width: 1px 0;
  background-color: #d66335;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), inset 0 -1px 1px rgba(0, 0, 0, 0.15), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), inset 0 -1px 1px rgba(0, 0, 0, 0.15), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.05);
}

.buttonDel:hover {
  background-color: #b3311a;
}

.item {
 
  
  font-weight: 16px;
 display: flex;
 column-gap: 15px;
 justify-content: flex-start;
 align-items: center;
}

.itemText{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  font-size: 500;
  background-color: #ccc;
  color: rgb(15, 15, 88);
  border-radius: 5px;
  font-weight: 500;
}
